body {
    margin: 4px; /* отступ*/
    background-color: #efefef; /* заливка основного фона */
      }
.shadow {
    background: white; /* заливка блока с тенью */
    width: 420px; 
    padding: 50px; 
    margin: auto; 
    box-shadow: 0 0 3px rgba(0,0,0,0.5); 
   }
h1 {
        font-size: 140%; /* размер заголовка */
        margin: 0; 
        text-align: center;
        }
 p {
        font-size: 17px; 
        }
 ul {
        padding: 0; 
        margin-left: 25px; /* отступ от края*/
        font-size: 17px; /* ??? ??? */
   }
  .foto{
    width: 40%;
    display: block;
    margin: 20px auto;
}
.brd{
    border-bottom: 1px solid grey;
    padding-left: 10px;
 }
 .brdnone{
    border-bottom: 0px solid grey;
    padding-left: 10px;
 }
