body {
    margin: 4px; /* Убираем отступы */
    background-color: #efefef; /* Цвет фона веб-страницы */
      }
.shadow {
    background: white; /* Цвет фона */
    width: 420px; /* Ширина блока */
    padding: 50px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
    box-shadow: 0 0 3px rgba(0,0,0,0.5); /* Параметры тени */
   }

h1 {
        font-size: 140%; /* Размер текста */
        margin: 0; /* Убираем отступы вокруг */
        text-align: center;
        }
 p {
        font-size: 17px; /* Размер текста */
        }
 ul {
        padding: 0; /* Убираем поля */
        margin-left: 25px; /* Отступ слева */
        font-size: 17px; /* Размер текста */
   }
 
  .foto{
    width: 40%;
    display: block;
    margin: 20px auto;
}
.brd{
    border-bottom: 1px solid grey;
    padding-left: 10px;
 }
 .brdnone{
    border-bottom: 0px solid grey;
    padding-left: 10px;
 }
